<%- include('./../_partials/head') %>

<h1>Show Shoe</h1>

<b>Name:</b><%= shoe.name %>
<br>
<br>
<b>Year:</b><%= shoe.year %>
<br>
<br>
<b>Description:</b><%= shoe.description %>
<br>
<br>
<a href="/">Home</a>


<%- include('./../_partials/footer') %>